.dnd5edark.sheet a:hover {
	color: #3F88E6 !important;
  text-shadow: 0 0 4px #3F88E6;
}
.dnd5edark.sheet select:hover {
  text-shadow: 0 0 4px #3F88E6;
  box-shadow: 0 0 4px #3F88E6;
}

.dnd5edark.sheet button:hover {
	box-shadow: 0 0 10px #3F88E6
}
.dnd5edark.sheet select {
  box-shadow: none;
}
.dnd5edark.sheet .editor-content>ul {
  color: #00b8ff !important;
}
.dnd5edark.sheet.item .magic-items-content input[type="text"], .dnd5edark.sheet.item .magic-items-content select {
    background: #191919 !important;
}

.dnd5edark.sheet.actor .spell-component.C, .dnd5edark.sheet.actor .spell-component.R {
	background: rgba(28, 84, 210, 0.42);
}
.dnd5edark.sheet ::-webkit-scrollbar-thumb {
  background: #0C3A75;
  border: 1px solid #3F88E6;
}
.dnd5edark.sheet .item-buttons button {
	color: #BFBFBF
}
.dnd5edark .window-content {
  background: url("ui/parchment_dark.jpg") repeat;
  font-size: 13px;
  color: #b5b5b5;
}
.dnd5edark input[type="text"],
.dnd5edark select {
  border: 1px solid #7a7971;
  background: rgba(255, 255, 255, 0.05);
  color: #b5b5b5;
  box-shadow: #3F88E6;
}
.dnd5edark input[type="text"]:hover,
.dnd5edark input[type="text"]:focus {
  border: 1px solid #111;
  box-shadow: 0 0 8px #3F88E6;
}
.dnd5edark input:disabled,
.dnd5edark select:disabled,
.dnd5edark textarea:disabled {
  color: #7F7F7F;
}
.dnd5edark input:disabled:hover,
.dnd5edark select:disabled:hover,
.dnd5edark textarea:disabled:hover,
.dnd5edark input:disabled:focus,
.dnd5edark select:disabled:focus,
.dnd5edark textarea:disabled:focus {
  box-shadow: none !important;
}
.dnd5edark .editable>button {
  background: rgba(0, 0, 0, 0.1);
  border: 2px groove #5E5E5E;
  color: #BFBFBF;
  
}
.tox-edit-area {
	color: #BFBFBF;
}

.dnd5edark .form-group label {
  color: #BFBFBF;
  font-weight: bold;
}

.dnd5edark .form-header {
  color: #BFBFBF;
  border-top: 2px groove #5E5E5E;
  border-bottom: 2px groove #5E5E5E;
}

.dnd5edark .notes {
	color: #BFBFBF;
}
.dnd5edark .tag {
  border: 1px solid #999;
  background: rgba(0, 0, 0, 0.05);
}

.dnd5edark.sheet .window-content {
  background: url("ui/parchment_dark.jpg") repeat;
  color: #BFBFBF;
}

.dnd5edark.sheet select {
  background: #191919;
}
.dnd5edark.sheet .editable .rollable:hover {
  color: #3F88E6;
  text-shadow: 0 0 10px #3F88E6;
}
.dnd5edark.sheet .editor .tox-toolbar-overlord,
.dnd5edark.sheet .editor .tox-toolbar__primary {
  background: none;
}
.dnd5edark.sheet .editor .tox-edit-area {
  background: #939393;
}
.dnd5edark.sheet .tox-tbtn svg {
	fill: #2f83e4;
}
.dnd5edark.sheet .tox.tox-tinymce .tox-tbtn {
	color: #2f83e4;
}
.dnd5edark.sheet .sheet-header {
  border-bottom: 2px groove #5E5E5E;
}
.dnd5edark.sheet .sheet-header img.profile {
  border-right: 2px groove #5E5E5E;
}
.dnd5edark.sheet .sheet-header .summary {
  border-top: 2px groove #5E5E5E;
}
.dnd5edark.sheet .sheet-header .summary li {
  border-right: 2px groove #5E5E5E;
  color: #5E5E5E;
}

.dnd5edark.sheet .sheet-navigation .item {
  border-bottom: 3px solid #5E5E5E;
}
.dnd5edark.sheet .sheet-navigation .item.active {
	color: #3F88E6;
  text-shadow: 0 0 10px #004aa9;
  border-bottom: 3px solid #3F88E6;
}
.dnd5edark.sheet .filter-list .filter-item {
  border-bottom: 3px solid #373635;
}
.dnd5edark.sheet .filter-list .filter-item:hover {
  text-shadow: 0 0 4px #004aa9;
  border-bottom: 3px solid #a2741f;
}
.dnd5edark.sheet .filter-list .filter-item.active {
  border-bottom: 3px solid #d68b00;
}

.dnd5edark.sheet.actor .sheet-header .charlevel .experience {
  color: #656565;
}

.dnd5edark.sheet.actor h4.box-title {
  border-bottom: 1px solid #B5B5B5;
}

.dnd5edark.sheet.actor ul.attributes li.attribute {
  border: 2px groove #5E5E5E;
}
.dnd5edark.sheet.actor ul.attributes li.attribute .attribute-value span.sep {
  color: #BFBFBF;
}
.dnd5edark.sheet.actor .ability-scores .ability {
  border: 2px groove #5E5E5E;
}
.dnd5edark.sheet.actor .ability-scores .ability .ability-modifiers span.ability-mod,
.dnd5edark.sheet.actor .ability-scores .ability .ability-modifiers span.ability-save {
  border-top: 2px groove #5E5E5E;
}
.dnd5edark.sheet.actor .ability-scores .ability .ability-modifiers span.ability-mod {
  border-right: 2px groove #5E5E5E;
}
.dnd5edark.sheet.actor .ability-scores .ability .ability-modifiers span.ability-save {
  border-left: 2px groove #5E5E5E;
}
.dnd5edark.sheet.actor .proficiency-toggle {
  color: #BFBFBF;
}
.dnd5edark.sheet.actor .proficient .proficiency-toggle {
  color: #5DC232;
}
.dnd5edark.sheet.actor .locked .proficiency-toggle {
  color: #BFBFBF;
  text-shadow: none;
}
.dnd5edark.sheet.actor ul.skills-list {
  border: 2px groove #5E5E5E;
}

.dnd5edark.sheet.actor .counters {
  border-bottom: 2px groove #5E5E5E;
}
.dnd5edark.sheet.actor .traits .trait-selector {
  color: #999;
}
.dnd5edark.sheet.actor .traits i.fas {
  color: #999;
}
.dnd5edark.sheet.actor .traits i.fas:hover {
  color: #BFBFBF;
  text-shadow: 0 0 10px #3F88E6;
}
.dnd5edark.sheet.actor .traits .inactive {
  color: #BFBFBF;
}
.dnd5edark.sheet.actor .inventory-filters h3, .dnd5edark.sheet.actor .inventory-filters .filter-title {
    color: #a0a0a0;
}

.dnd5edark.sheet.actor .inventory-filters .currency input[type="text"] {
  border-bottom: 2px groove #5E5E5E;
}
.dnd5edark.sheet.actor .inventory-list .item {
  border-bottom: 1px solid #5E5E5E;
}
.dnd5edark.sheet.actor .inventory-list .item .item-name:hover .item-image {
  background-image: url("/icons/svg/d20-grey.svg") !important;
}
.dnd5edark.sheet.actor .inventory-list .item .item-name .item-image:hover {
  background-image: url("/icons/svg/d20.svg") !important;
}
.dnd5edark.sheet.actor .inventory-list .item .item-name i.attuned {
  color: #BFBFBF;
}
.dnd5edark.sheet.actor .inventory-list .item .item-recharge {
  color: #BFBFBF;
}
.dnd5edark.sheet.actor .inventory-list .inventory-header {
  background: rgba(255, 255, 255, 0.10);
  border: 2px groove #5E5E5E;
}
.dnd5edark.sheet.actor .inventory-list .item-detail {
  color: #BFBFBF;
  border-right: 1px solid #5E5E5E;
}
.dnd5edark.sheet.actor .inventory-list .item-weight {
  border-left: 1px solid #5E5E5E;
  border-right: 1px solid #5E5E5E;
}
.dnd5edark.sheet.actor .inventory-list .item-controls a {
  color: #BFBFBF;
}
.dnd5edark.sheet.actor .inventory-list .item-summary {
  border-top: 1px solid #5E5E5E;
}
.dnd5edark.sheet.actor .spell-slots,
.dnd5edark.sheet.actor .spell-comps {
  color: #BFBFBF;
  border-right: 1px solid #5E5E5E;
}
.dnd5edark.sheet.actor .spell-school,
.dnd5edark.sheet.actor .spell-action,
.dnd5edark.sheet.actor .spell-target {
  color: #BFBFBF;
  border-right: 1px solid #5E5E5E;
}
.dnd5edark.sheet.item .sheet-header img.profile {
  border: 2px solid #000;
}
.dnd5edark.sheet.item .sheet-header .item-subtitle {
  color: #7a7971;
}
.dnd5edark.sheet.item .sheet-body .item-properties {
  border-right: 2px groove #eeede0;
}
.dnd5edark.sheet.item .sheet-body .item-properties .properties-list li {
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
}
.dnd5edark.sheet.item .details input[type="text"],
.dnd5edark.sheet.item .details select {
  border: 1px solid #7a7971;
  background: #191919;
}
.dnd5edark .tabs>a:hover {
  text-shadow: 0 0 10px #3F88E6;
}
.dnd5edark .traits a.trait:hover {
  text-shadow: 0 0 10px #3F88E6;
}
.dnd5edark.sheet.item h4.damage-header {
  color: #BFBFBF;
}
.dnd5edark.sheet.item .damage-control {
  color: #7a7971;
}
.dnd5edark.sheet.actor.character .sheet-header .charlevel .xpbar {
  background: #666;
  border: 1px solid #000;
}
.dnd5edark.sheet.actor.character .sheet-header .charlevel .xpbar .bar {
  background: #afebff;
  border: 1px solid #000;
}
.dnd5edark.sheet.actor.character .sheet-header .summary {
  border-bottom: 2px groove #5E5E5E;
}
.dnd5edark.sheet.actor.character .sheet-header .attributes .attribute {
  border-right: 2px groove #5E5E5E;
}
.dnd5edark.sheet.actor.character .sheet-header .attributes a.rest {
  border: 1px solid #b5b3a4;
  background: rgba(0, 0, 0, 0.05);
}
.dnd5edark.sheet.actor.character .encumbrance {
  background: #7a7971;
  border: 1px solid #191813;
}
.dnd5edark.sheet.actor.character .encumbrance .encumbrance-bar {
  background: #6c8aa5;
  border: 1px solid #cde4ff;
}
.dnd5edark.sheet.actor.character .encumbrance .encumbrance-label {
  color: #EEE;
  text-shadow: 0 0 5px #000;
}
.dnd5edark.sheet.actor.character .encumbrance .arrow-up {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #666;
}
.dnd5edark.sheet.actor.character .encumbrance .arrow-down {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #666;
}
.dnd5edark.sheet.actor.character .encumbrance.encumbered .arrow-up {
  border-bottom: 4px solid #000;
}
.dnd5edark.sheet.actor.character .encumbrance.encumbered .arrow-down {
  border-top: 4px solid #000;
}
.dnd5edark.sheet.actor.character .inventory .item-controls .item-toggle.fixed, .dnd5e.sheet.actor.character .spellbook .item-controls .item-toggle.fixed {
    color: #d68b00;
}

.dnd5edark.sheet.actor.character .inventory .item-controls .item-toggle, .dnd5edark.sheet.actor.character .spellbook .item-controls .item-toggle {
    color: #5E5E5E;
}
.dnd5edark.sheet.actor.character .inventory .item-controls .item-toggle.active, .dnd5edark.sheet.actor.character .spellbook .item-controls .item-toggle.active {
    color: #3F88E6;
}

.dnd5edark.sheet input[type="checkbox"] {
    filter: invert(1);
}