// region Inherited from Plutonium
$rgb-font--night: #bbb;
$rgb-bg--night: #222;
$rgb-bg--alt-night: #383838;
$rgb-border-grey--night: #555;
$rgb-border-grey--trans-night: #555555a0;

$pct-darken-active: 10%;
// endregion

// region Module-specific
$rgb-text-blue: #3f88e6;
$rgb-btn-primary-bg: #2a4e6c;
// endregion
